body {
    background-image: url(pics/abstract.png);
    background-size: cover;
    background-position: center;
}


body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.header h1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.menu_bar {
  list-style-type: none;
  margin-left: 100px;
  margin-right: 100px;
  padding: 15px;
  /*
  background-color: white;
  */
  background-color: #3a3b4a;
  border-radius: 10px;
  overflow: hidden;
  position: sticky;
}

.menu_bar li {
  float: left;
}

.menu_bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 20px;
  font-style: oblique;
}

li a:hover {
  /*
  background-image: url(pics/abstract.png);
  background-size: cover;
  background-color: lightgray;
  */
  background-color: black;
}

.intro {
  font-style: italic;
  background-color: #3a3b4a;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  color: white;
}

.links {
  color: #b8bdff;
}


.intro p img {
  width: 197px;
  height: 200px;
  /*
  padding: 20px
  */
}

h1 {
  font-family: sans-serif;
  padding-top: 5px;
}

.footer {
  font-family: arial, sans-serif;
  background-color: #3a3b4a;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 8px;
  padding: 5px 10px;
  overflow: hidden;
  bottom: 10px;
  right: 0;
  position: fixed;
}

.footer h3 {
  text-decoration-line: underline;
  color: white;
}

.footer ul {
  list-style-type: none;
}

.footer li {
  font-size: 15px;
  padding-left: 0px;
  padding-right: 10px;
  color: white;
  float: left;
}

li img {
  border-radius: 35%;
  width: 25px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
