body {
  background-image: url(pics/abstract.png);
  background-size: auto;
}

.menu_bar {
  list-style-type: none;
  margin: 100px;
  padding: 0;
  background-color: white;
}

.menu_bar li {
  display: inline;
}

.intro {
  font-style: italic;
}

p img {
  width: 160px;
  height: 200px;
}

.intro {
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
}
